@font-face {
	font-family: Harmonia Sans Pro Cyr;
	src:url('../fonts/HarmoniaSansProCyr-Cond.otf');
}

* {
  margin: 0;
  padding: 0;
}

body{
	background-color: #f4f6f8;
	font-family: "Harmonia Sans Pro Cyr";
	font-size: 16px;
	font-weight: 400;
	
}

h1, h2, h3, h4, h5, h6  {
	color: #34404b;
	text-transform: uppercase;
	font-weight: 700;
}
h2{
	font-size: 34px;
}
h5, h6 {

	text-transform: none;
	font-size: 19px;
}
h6 {
	font-size: 18px;
}

p {
	color: #495662;
}

a {
	color: #34404b;
	text-decoration: none;
}
a:hover {
	color: #ff5912;
}

ul, li, ol {
	list-style-type: none;
}

header,
main,
.wrapper {
	margin: 0 auto;
	padding: 0 85px;
	max-width: 1180px;
}

.head-info {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 12px;
	padding: 20px 0;
}

.head-info__text {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.head-info__text a:first-of-type {
	margin-right: 20px;
}
.mail-info__ico {
	display: inline-block;
	background: url('../img/Mail_Ico.png') no-repeat center;
	width: 18px;
	height: 12px;
	margin-right: 10px;
}
.phone-info__ico {
	display: inline-block;
	background: url('../img/Phone_Ico.png') no-repeat center;
	width: 12px;
	height: 12px;
	margin-right: 10px;
}
.head-info__social {
	display: flex;
	justify-content: space-around;
}
.head-info__social a:not(:last-of-type) {
	margin-right: 10px; 
}

.head-info__fb {
	display: block;
	width: 6px;
	height: 11px;
}

.head-info__insta {
	display: block;
	width: 11px;
	height: 11px;
}

.head-info__twitter {
	display: block;
	width: 14px;
	height: 11px;
}
.icons:hover,
.slid-navigation a:hover,
.offer-price__click:hover {
	opacity: 0.8;
}

.head-bar {
	/*position: fixed;
	margin: 0 auto;
	padding: 0 85px;
	width: 100%;
	background-color: #fff;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	padding: 30px 0;

}


.head-bar__logo {
	width: 118px;
	height: 24px;
	
}

.head-bar__slogan {
	opacity: 0.8;
	color: #46505a;
	font-size: 15px;
	/* Растояние между буквами слогана */
	letter-spacing: 2.2px;
}

.head-nav {
	width: 80%;
	display: flex;
	justify-content: space-around;
}
.head-bar__topnav {
	 
}
.head-bar__topnav {
	display: flex;
	align-items: center;
	max-width: 500px;
}
.head-bar__topnav ul li a{
	display: flex;
	align-items: center;
}

.head-bar__topnav a:not(:last-of-type){
	margin-right: 40px;
}

.head-bar__rightnav {
	display: flex;
	align-items: center;
}

.head-bar__rightnav a:not(:last-of-type) {
	margin-right: 10px;
}

.head-bar__searsch {
	width: 18px;
	height: 18px;
}

.head-bar__user {
	width: 20px;
	height: 21px;
}

.head-bar__cart {
	width: 24px;
	height: 17px;
	position: relative;
    bottom: 15px;
    display: block;
}

.cart-count{
	color: #ffffff;
	font-size: 10px;
	display: block;
	width: 18px;
	height: 18px;
	background-color: #34404b;
	border-radius: 50%;
	position: relative;
	left: 3px;
	line-height: 18px;
	text-align: center;
}


.slider {
	background: url('../img/slide_1.png') no-repeat center top;
	max-height: 650px;
    background-size: cover;
}

.flex-a-cntr {
	display: flex;
	align-items: center;
}

.offer {
	padding: 180px 85px;
}

.slid-navigation a{
	display: block;
	width: 10px;
	height: 36px;
	background-color: #ff5912;
}

.slid-navigation a:before,
.slid-navigation a:after {
	content: "";
	display: block;
	width: 10px;
	height: 20px;
	background-color: #ffffff;
	position: relative;
	
}

.slid-navigation a:before {
	bottom: 30px;
}

.slid-navigation a:after {
	top: 30px;
}

.offer__title {
	color: #ff5912;
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 30px;
}

.offer__complect {
	color: #3c4751;
	font-size: 16px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 15px;
}
.offer__desc {
	color: #495662;
	margin-bottom: 30px;
}


.offer-price {
	display: flex;

}

.offer-price__coast {
	color: #34404b;
	font-size: 18px;
	margin-right: 30px;
}

.offer-price__click {
	color: #ff5912;
	font-size: 18px;
}

.offer-price_ico {
	background: url('../img/Cart_Ico.png') no-repeat center;
	width: 24px;
	height: 17px;
	margin-right: 10px;
	display: inline-block;
	position: relative;
	bottom: -1px;
}
section {
	margin-top: 100px;
}

.arrivals {

}

.arrivals h2 {
	text-align: center;
	margin-bottom: 20px;
}

.arrivals h2>span {
	color: #ff5912;
}

.arrivals p {
	text-align: center;	
	
}

.arrivals-products {
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
	margin: 80px 0;
}

.arrivals-products__thing {
	display: block;
	width: 270px;
	height: 365px;
	background-color: #ffffff;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
}
.arrivals-products__thing:last-of-type {
	margin-bottom: 0;
}


.arrivals-products__thing:hover,
.arrivals-products__sale-cart:hover {
	cursor: pointer;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
}

.arrivals-products__thing > img {
	width: 144px;
	height: 216px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.arrivals-products__thing > h5 {
	margin-bottom: 20px;
}
.arrivals-products__thing > .arrivals-products__size {
	display: none;
}
.arrivals-products__thing > .arrivals-products__color {
	display: none;
}
.arrivals-products__thing > .arrivals-products__icons {
	display: none;
}

.arrivals-products__thing + .selected,
.arrivals-products__sale-cart + .sale__selected {
	cursor: default;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
}
.arrivals-products__price {
	color: #ff5912;
	font-weight: 700;
	font-size: 17px;
}

.arrivals-products__thing > .arrivals-products__price {
	margin-bottom: 20px;
}

.selected > img {
	width: 70px;
	height: 87px;
	margin-bottom: 20px;
	margin-top: 20px;
}  
.selected > h5 {
	color: #ff5912;
}
.selected > .arrivals-products__size {
	display: block;
	color: #34404b;
	font-size: 14px;
	margin-bottom: 20px;
	font-weight: 400;
}
.selected > .arrivals-products__color {
	display: block;
	cursor: pointer;
	margin-top: 30px;
}
.selected > .arrivals-products__icons {
	display: block;
	margin-top: 50px;
}
.selected > .arrivals-products__icons > a:not(:last-of-type) {
	margin-right: 20px;
}
.selected > .arrivals-products__price {
	display: none;
}

.arrivals-products__block,
.subscribe {
	display: block;
	background: #fff;
	width: 100%;
	padding: 26px 0;
    margin-bottom: 120px
}
.arrivals-products__novigation{
	cursor: pointer;
	margin: 0 auto;

}
.arrivals-products__novigation,
.arrivals-products__novigation:before,
.arrivals-products__novigation:after {
	display: block;
	width: 8px;
	height: 8px;
	background-color: #ff5912;
	border-radius: 50%;
	
}
.arrivals-products__novigation:before {
	position: relative;
	content: "";
	left: 15px;
}
.arrivals-products__novigation:after {
	position: relative;
	content: "";
	right: 15px;
	bottom: 8px;
}

.arrivals-products__sale-cart {
	width: 370px;
	height: 160px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.arrivals-products__sale-cart > img {
	width: 89px;
	height: 90px;
	margin-top: 30px;
}
.arrivals-products__sale-cart__info {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.sale-cart__info__rate {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.arrivals-products__price {
	color: #ff5912;
	font-weight: 700;
	font-size: 17px;
}

.add-cart {
	display: none;
}
.add-cart > a > img {
	display: inline-block;
    position: relative;
    top: 3px;
    padding-right: 5px;
}

.sale__selected > .arrivals-products__sale-cart__info > .sale-cart__info__rate > img, 
.sale__selected > .arrivals-products__sale-cart__info > .sale-cart__info__rate > p {
	display: none;
}

.sale__selected > .arrivals-products__sale-cart__info > .sale-cart__info__rate > .add-cart {
	display: block;
}

.subscribe__block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 26px 50px;
}

.news-letter > h4{
color: #ff5912;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
}

.news-letter > p{
color: #34404b;
font-size: 14px;
font-style: italic;
}

.sub-form img {
	margin-right: 10px;
}

.email-input {
width: 250px;
height: 30px;
color: #7c8791;
font-size: 14px;
font-style: italic;
border: 0;
margin-right: 20px;
}


.button {
	/* Style for "Button Bg" */
width: 100px;
height: 50px;
background-color: #ff5912;
border: 0;
color: #ffffff;
font-size: 14px;
}


footer {
	width: 100%;
	height: 250px;
	background-color: #ffffff;
}
footer > .wrapper {
	padding-top: 90px;
	padding-bottom: 90px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.copyright__text {
	padding-top: 30px;
	color: #28313b;
	font-size: 14px;
	line-height: 30px;
	width: 190px;
}

footer > .wrapper > .nav_footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 50%
}
footer li {
	list-style-type: disc;
}

.payment h5{
	margin-bottom: 20px;
}
.payment img {
	width: 170px;
	height: 19px;
}

	
/*Smartphone*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.head-info__social {
		margin-top: 10px;
	}



}

/*Ipad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}


